@use "../abstract" as *;
@use "sass:color";

.backtotop {
  position: sticky;
  top: 30rem;
  padding-bottom: 1rem;
  z-index: 100;

  @media (max-width: $breakpint-medium) {
    top: 32rem;
  }
}

.backtotop__icon {
  position: absolute;
  right: 0.5rem;
  top: 1rem;

  @media (max-width: $breakpint-medium) {
    right: 2rem;
  }
}

.backtotop__icon-link {
  cursor: pointer;
  color: white ;
  text-shadow: 0 0 0.5rem black;
  font-size: 3rem;
  opacity: 0.75;

  &:hover {
    text-decoration: none;
    border-bottom: none;
    color: $color-secondary;
  }
}
