@use "../abstract" as *;
@use "sass:color";

.footer {
  height: 36.5rem;
  //min-height: calc(10rem + 30vw);
  padding: 8rem 0 1rem 0;
  margin-top:4rem;

  background-image: linear-gradient(-5.0deg, transparent 50.1%, #edf2ef 49.9%);
  background-color: $color-secondary-light;
  background-repeat: no-repeat, no-repeat;
  background-position: center 0%, center center;
  background-size: 100vw 10vw, cover;
}

.footer__container {
  @include make-container();
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.5);

  @media (max-width: $breakpint-small) {
    flex-direction: column;
  }
}

.footer__text-col {
  margin: 5rem 0 0 0;
  flex: 0 0 50%;
}

.footer__logo-col {
  margin-left: 5rem;
 
  @media (max-width: $breakpint-small) {
    padding-bottom: 1rem;
    margin-left: 0;
  }
}

.footer__heading {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}

.footer__paragraph {
  color: $color-primary;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer__contact-item {
  position: relative;
  margin-bottom: 1rem;
}

.footer__contact-item-icon {
  background-color: $color-primary;
  color: $color-secondary-light;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 10000px;
  font-size: 2.5rem;
  line-height: 4rem;
  position: relative;
  z-index: 2;
}

.footer__contact-item-link {
  background-color: $color-secondary;
  transition: 2s ease-in-out;

  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  position: absolute;
  white-space: nowrap;
  top: 0.4rem;
  left: 2.5rem;
  z-index: 1;
  width: 18rem;
  text-align: center;

  &:hover {
    background-color: $color-secondary-dark;
    transition: 1s ease-in-out;
  }
}

.footer__footer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $breakpint-small) {
    text-align: center;
    flex-direction: column;
  }
}

.footer__footer-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 4rem;
  white-space: nowrap;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
