@use "../abstract" as *;
@use "sass:color";

.footer {
  background-color: $color-secondary-light;
  padding: 3rem 0;
}

.footer__container {
  @include make-container();
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.5);

  @media (max-width: $breakpint-small) {
    flex-direction: column;
  }
}

.footer__text-col {
  flex: 0 0 50%;
}

.footer__logo-col {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}

.footer__paragraph {
  color: $color-primary;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer__contact-item {
  position: relative;
  margin-bottom: 1rem;
}

.footer__contact-item-icon {
  background-color: $color-primary;
  color: $color-secondary-light;
  height: 4rem;
  width: 4rem;
  text-align: center;
  border-radius: 10000px;
  font-size: 2.5rem;
  line-height: 4rem;
  position: relative;
  z-index: 2;
}

.footer__contact-item-link {
  background-color: $color-secondary;
  transition: 2s ease-in-out;

  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  position: absolute;
  white-space: nowrap;
  top: 0.5rem;
  left: 2rem;
  z-index: 1;
  width: 16rem;
  text-align: center;

  &:hover {
    background-color: $color-secondary-dark;
    transition: 1s ease-in-out;
  }
}

.footer__logo-container {
  font-size: 19rem;
  color: white;
  padding: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    135deg,
    $color-secondary 0%,
    $color-primary 100%
  );
  border-radius: 10000px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

  @media (max-width: $breakpint-medium) {
    font-size: 12rem;
  }

  @media (max-width: $breakpint-small) {
    font-size: 10rem;
  }
}

.footer__logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  border: 0.025em solid white;
  border-radius: 10000px;
}

.footer__footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (max-width: $breakpint-small) {
    text-align: center;
    flex-direction: column;
  }
}

.footer__footer-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 4rem;
  white-space: nowrap;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
