@use "../../abstract" as *;

.about {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about__img {
  $-img-size: 30rem;

  width: $-img-size;
  height: $-img-size;
  object-fit: cover;
  float: left;
  margin-right: 4rem;
  border-radius: 10000px;
  shape-outside: circle(15rem at 50% 50%);

  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

  filter: grayscale(50%);

  @media (max-width: $breakpint-large) {
    width: $-img-size * 0.9;
    height: $-img-size * 0.9;
  }
  @media (max-width: $breakpint-medium) {
    width: $-img-size * 0.8;
    height: $-img-size * 0.8;
  }
  @media (max-width: $breakpint-small) {
    width: $-img-size * 0.5;
    height: $-img-size * 0.5;
  }
  @media (max-width: $breakpint-extraSmall) {
    width: $-img-size * 0.4;
    height: $-img-size * 0.4;
  }
}

.about__heading {
  text-transform: uppercase;
  color: $color-secondary;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about__subheading {
  text-transform: uppercase;
  color: #555657;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about__text {
  color: $color-secondary;
  padding-top: 0.5rem;

  &::before {
    content: "";
    display: inline-block;
    height: 0.25rem;
    width: 4rem;
    margin-left: 1rem;
    background-color: $color-secondary-dark;
  }

  @media (max-width: $breakpint-large) {
    padding-top: 0rem;
  }
}

.about__heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about__subheading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about__paragraph {
  font-weight: 300;
  margin-bottom: 1rem;
}

.about__quote {
  font-style: italic;
  font-weight: 300;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}
