@use "../../abstract" as *;
@use "sass:color";

.about {
  padding: 4rem 0;
}

.about__slideshow {
  position: relative;
}

.about__img {
  $-img-size: 28rem;

  width: $-img-size;
  height: $-img-size;
  object-fit: cover;
  float: left;
  border-radius: 100000px;
  shape-outside: circle(50% at 50% 50%);
  margin: 0 4rem 0.5rem 0;

  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.75);

  @media (max-width: $breakpint-large) {
    width: $-img-size * 0.9;
    height: $-img-size * 0.9;
  }
  @media (max-width: $breakpint-medium) {
    width: $-img-size * 0.8;
    height: $-img-size * 0.8;
  }
  @media (max-width: $breakpint-small) {
    width: $-img-size * 0.5;
    height: $-img-size * 0.5;
  }
  @media (max-width: $breakpint-extraSmall) {
    width: $-img-size * 0.4;
    height: $-img-size * 0.4;
  }
}

.about__img--slideshow {
  position: absolute;
  top: 0;
  left: 0;
}

.about__img--slideshow-2 {
  animation-name: animation-about__img--slideshow-2;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes animation-about__img--slideshow-2 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about__heading {
  text-transform: uppercase;
  color: $color-secondary;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.about__subheading {
  text-transform: uppercase;
  color: #555657;
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0;
}

.about__text {
  color: $color-secondary;

  &::before {
    content: "";
    display: inline-block;
    height: 0.25rem;
    width: 4rem;
    margin-left: 1rem;
    background-color: $color-secondary-dark;
  }

  @media (max-width: $breakpint-large) {
    padding-top: 0.5rem;
  }
}

.about__paragraph {
  font-weight: 300;
  margin-bottom: 1rem;
}

.about__quote {
  font-style: italic;
  font-weight: 300;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "„";
  }

  &::after {
    content: "“";
  }
}
