@use "sass:color";
@use "sass:math";

$color-primary: rgb(55, 56, 57) !default;
$color-secondary: rgb(85, 86, 87) !default;
$color-secondary-light: color.scale($color-secondary, $lightness: 20%) !default;
$color-secondary-dark: rgb(25, 26, 27) !default;

$slope-incline: math.asin(0.1);

$breakpint-large: 75em !default;
$breakpint-medium: 62em !default;
$breakpint-small: 48em !default;
$breakpint-extraSmall: 36em !default;

// Breakpoints
@media (max-width: $breakpint-large) {
}
@media (max-width: $breakpint-medium) {
}
@media (max-width: $breakpint-small) {
}
@media (max-width: $breakpint-extraSmall) {
}
